@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #16181E;
  --foreground: #F9F9F9;
  --primary: #00B9AE;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #16181E;
    --foreground: #F9F9F9;
    --primary: #00B9AE;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
